@import "tailwindcss";
@import "../styles/indicators.css";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;

  --font-family-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-family-serif: var(--font-playfair-display), ui-serif, Georgia, serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }

  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
